<!-- <h3 class="index-page-header">See Posts:</h3> -->
<% @posts.each do |post| %>

	<div id="post-box">

	  <div class="row">
	  	<div class="profile-header-container">
	  	  <div class="profile-header-img">
	  	    <img class="img-circle" <%= image_tag(post.user.avatar.url(:thumb)) %>
	  	  </div>
	  	</div>
	  </div>

	  <div id="non-prof-pic-post-box">
		<em><strong class="username-index-font"><%= post.user.username %></strong></em>
		<em><font size="-1"><%= post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%B %e, %Y, %I:%M %P')%></font></em> <br>
	  <%= simple_format(auto_link(post.body, html: { target: '_blank' }), {}, :sanitize => false) %> <br>
	  <% if post.image.file? %>
	   <div class="img-rounded">
	    <%= image_tag post.image.url(:medium) %>
	   </div>
	  <% end %>
	  <% if user_signed_in? && current_user == post.user %>
	    <%= button_to 'Edit Post', edit_post_path(post.id), :class => "btn btn-primary btn-sm btn-space", :method => :get %>
	    <%= button_to 'Delete Post', {:controller=>:posts,:action=>:destroy, :id=>post}, :class => "btn btn-primary btn-sm btn-space", :method=>:delete, data: { confirm: 'Are you sure?' } %>
	  <% end %>
	</div>
	</div>

<% end %>